:root {
    --yellow:rgb(255, 238, 0);
    --mustard: rgb(255, 170, 0);
    --golden: gold;
    
}
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    line-height: 2;
    font-size: 1.6rem;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Source Sans Pro", sans-serif;
    background-color: black;
}

/*Start of header styles */

.header {
    background-color: var(--mustard);
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-link-logo {
    display: flex;
    align-items: center;
}

.nav-link-logo:hover {
    box-shadow: 0 0 1rem 0.5rem var(--golden);
    background-color: var(--golden);
}

.logo {
    width: 6.4rem;
    height: 6.4rem;
    object-fit: contain;
}

.nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--yellow);
    padding-bottom: 0.5rem;
}

.nav-link:hover {
    border-bottom: 0.2rem solid var(--golden);
    box-shadow: 0 0 1rem 0.5rem var(--golden);
    background-color: var(--golden);
}

/*End of header styles*/

/*Start of main section*/
.main {
    flex: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

/*Star of content section*/
.content-section {
    letter-spacing: 0.4rem;
    padding: 2rem 1rem;
    text-align: center;
    position:relative;
    color: var(--yellow);
    box-shadow: 0rem 0rem 0.7rem 0.7rem rgba(var(--golden), 0.3)
}

.content-section-title {
    font-size: 4rem;
}

.content-section-info {
    font-size: 2rem;
}
/*End of content section*/

/*Start of button styles*/
.btn-control {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .btn {
    padding: 1.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    border-radius: 0.4rem;
    min-width: 20rem;
    text-transform: uppercase;
    background-color: var(--mustard);
    color: var(--yellow);
  }
  
  .btn:hover {
    cursor: pointer;
    background-color: var(--golden);
    box-shadow: 0.5rem 0.5rem 0.7rem rgba(var(--golden), 0.3);
  }
/*End of button styles*/

/*Start of question styles*/
.questions-container {
    padding: 0;
    background: transparent;
    background-image: linear-gradient(
        to bottom,
        rgba(var(--yellow), 0.7),
        rgba(var(--yellow),0.4)
    ),
   
}

.question-container .content-section-title {
    background-color: rgba(var(--mustard), 0.8);
  }
  
  .feedback-list {
    list-style: none;
    text-align: left;
    margin: 3rem 2rem;
    padding: 2rem;
    border-radius: 0.4rem;
    background-color: rgba(var(--mustard), 0.8);
  }
  
  .list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 0;
    font-size: 1.8rem;
  }
  
  .list-item:hover {
    background-color: var(--golden);
    cursor: pointer;
  }

/*Star of footer styles */

.footer {
    background-color: var(--mustard);
    font-size: 1.4rem;
    padding: 2rem 0;
    text-align:center;
    color: var(--yellow);
    letter-spacing: 0.4rem;
}

/*End of footer styles*/

/* start of form section styles */

.feedback-form-section {
    background-color: var(--mustard);
    margin: 2rem 0;
  }
  
  .title {
    text-align: center;
    color: var(--yellow);
    text-transform: uppercase;
    letter-spacing: 0.4rem;
  }
  
  /* feedback form styles */
  
  .form-control {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  
  .form-input {
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    border-radius: 0.4rem;
  }
  
  .form-input::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.4rem;
  }
  
  /* end of form section styles */

  #currentTime {
      background-color: rgba(var(--golden), 0.3);
      color: rgba(var(--mustard), 0.8);
  }

@media screen and (max-width:768px) {
    .main {
        margin: 0;
    }
    .content-section {
        margin: 2rem 0.75rem;
    }
}